@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');




body{
	background-color: #dfe49b ;
}
p{
	font-size: 40px;
	font-size: 50px;
	color: #264e2c;
	text-shadow: 2px 2px 2px #55761a;
	text-align: center;
}
.p1{
	font-size: 50px;
background: linear-gradient(#55761a , #9db33e);
color: #264e2c;
font-family: "Rubik Mono One" ;
text-align: center;
text-shadow: 2px 2px 2px #55761a;
}
.p2{
	font-family: "Rubik Doodle Shadow", system-ui;
}
.p3{
	font-family: "Sofia Sans Condensed", sans-serif;
}
.p4{
	font-family: "Balsamiq Sans", sans-serif;
}
.p5{
	font-family: "El Messiri", sans-serif;
}
.p6{
	font-family: "Marck Script", cursive;
}
.p7{
	font-family: "Cormorant Infant", serif;
}
.p8{
	font-family: "Scada", sans-serif;
}
.p9{
	font-family: "Balsamiq Sans", sans-serif;
}
.p10{
	font-family: "Pacifico", cursive;
}
.p11{
	font-family: "Rubik Bubbles", system-ui;
}
.p12{
	font-family: "Neucha", cursive;
}
.p13{
	font-family: "Comforter Brush", cursive;
}