body{
	background-color:#dfe49b ;
}
p{
	font-size: 50px;
	text-align: center;
	color: #264e2c ;
	text-shadow: 2px 2px 2px #55761a;
    background-color: #9db33e;
}
ul, ol , dl{
	font-size: 30px;
	color: #264e2c ;
	text-shadow: 2px 2px 2px #55761a;
}
.l1 li{
	padding-left: 15px;
}
ol{
	margin-left: 75px;
}
@counter-style circled-digits {
  system: cyclic;
  symbols: 🤍	 💜 💚	 💙 💛	 🖤	 🤎	 💗	 🧡 💖;
  suffix: " ";
}

ul.l3{
  list-style: circled-digits;

}