@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

 body{
	background-color: #00457E;
}
p{
	background-color: #2F70AF;
	font-size: 50px;
	color: #02315E;
	text-shadow: 2px 2px 2px #B9848C;
    text-align: center;
}
table{
	border: double 2px #00457E;
	font-size: 24px;
	border-collapse: separate;
	margin: auto;
	width: 70%;
	box-shadow: 0px 0px 20px white;
}
th, td{
	border: solid 1px #B9848C;
	width: 25%;
	font-family: 'Merriweather', serif;
}
caption{
	color: #02315E;
	text-transform: uppercase;
	text-shadow: 0 0 40px /*#B968EE*/ ;
    margin: 20px;
	font-size: 40px;
    text-shadow: 2px 2px 2px #B9848C;
	font-family: 'Playfair Display', serif;;
    background-color: #2F70AF;

}
tr:hover{
	background-color: #2F70AF;
}
td:hover{
    font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #02315E;
	text-shadow: 2px 2px 2px #B9848C;
	font-size: 1.3em;
}